* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OSreg;
}

@font-face {
  font-family: OSlight;
  src: url(../font/OpenSans-Light.ttf);
}
@font-face {
  font-family: OSreg;
  src: url(../font/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OSbold;
  src: url(../font/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Andina;
  src: url(../font/Andina.otf);
}

#header {
  /* height: calc(100vh - 100px); */
  /* background-color: red; */
  background-image: url(../img/BG.png);
  width: 100%;
  background-size: cover;
  padding-bottom: 30px;
}
.header-content {
}
#welcomeNote {
  background-color: orange;
  color: white;
  padding: 20px;
  text-align: center;
  display: none;
}
#welcomeNote > p {
  font-size: 17px;
}
#welcomeNote #insertedNumber {
  font-size: 38px;
  margin-bottom: 10px;
}
#welcomeNote #goback {
  margin-top: 15px;
  cursor: pointer;
  font-size: 15px;
}
#welcomeNote #goback:hover {
  color: black;
}
.divider {
  background-color: white;
  height: 1px;
  width: 100%;
}
#logo {
  width: 100%;
  max-width: 200px;
  /* text-align: left; */
}
#cta {
  margin-top: 50px;
}
#cta img {
  width: 100%;
  max-width: 350px;
}
#form {
  margin-top: 40px;
  max-width: 350px;
  width: 100%;
}
#form > p {
  margin-top: 20px;
  color: white;
}
#form #phone {
  margin-top: 20px;
  color: white;
}
#form #password {
  margin-top: 20px;
  color: white;
  display: none;
}
#form input {
  width: 100%;
  max-width: 350px;
  height: 60px;
  margin-top: 10px;
  outline: none;
  font-size: 25px;
  padding-left: 20px;
}
#form button {
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  max-width: 350px;
  height: 60px;
  color: white;
  font-size: 17px;
  /* font-family: OSlight; */
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  background-color: #3b3ed340;
  /* background: linear-gradient(to bottom right, #fea92050, #3b3ed350); */
}
#form button:hover {
  background-color: #3b3ed380;
}
.miniButtonsHolder {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
#form .miniButtons {
  cursor: pointer;
  text-align: center;
  height: 100px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background-color: #3b3ed340;
  font-size: 12px;
  color: white;
  border-radius: 8px;
  transition: 0.3s;
}
#form .miniButtons:hover {
  background-color: #3b3ed380;
}
.miniButtons img {
  width: 40px;
}

#whyus {
  padding-top: 40px;
  margin-top: 20px;
  margin-bottom: 70px;
}
#whyus .content {
  margin-top: 40px;
  /* max-width: 350px; */
}
#whyus span {
  font-family: Andina;
  /* font-size: 18px; */
}
.feature {
  margin-bottom: 50px;
}
.feature img {
  height: 50px;
  background-color: rgb(234, 234, 234);
  padding: 5px;
  border-radius: 10px;
}
.feature p {
  margin-top: 20px;
  color: rgb(85, 85, 85);
}

#mobileapp {
  background-color: #ffa500;
  padding-top: 40px;
  padding-bottom: 40px;
}
#mobileapp .contentholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mobileapp .content h2 {
  margin-bottom: 20px;
}
#mobileapp #mobileimg {
  width: 100%;
  object-fit: cover;
}
#mobileapp .content img {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#serviceProviders {
  margin-top: 80px;
  margin-bottom: 40px;
}
#serviceProviders .holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
#serviceProviders .holder .col {
  text-align: center;
}
#serviceProviders h2 {
  margin-bottom: 40px;
  text-align: center;
}
#serviceProviders img {
  width: 100px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 40px;
}
footer {
  background-color: black;
}
#footer {
  padding: 60px;
  text-align: center;
}
#footer p {
  margin-top: 20px;
  color: white;
  font-size: 12px;
}

/* CREATE ORDER PAGES */
.nav {
  padding-top: 60px;
}
.navLink {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.navLink li {
  list-style: none;
  display: inline;
  margin-right: 15px;
}
.navLink li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-size: 13px;
}
.navLink li a:hover {
  color: orange;
}
.navLink li img {
  height: 15px;
  display: inline-block;
  padding-top: 3px;
  margin-left: 5px;
}
#orderbg {
  background-image: url("../img/bg2.jpeg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.tabs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.tabs button {
  padding: 15px 25px;
  width: 100%;
  max-width: 200px;
  background-color: #3b3ed330;
  border-radius: 5px;
  border: none;
  color: white;
  margin-bottom: 10px;
}
.tabs .active {
  background-color: #ffa500 !important;
  color: black;
}
#orderbg form {
  margin-top: 40px;
}
#orderbg form p {
  color: orange;
}
#orderbg form input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 94, 255, 0.62);
  border-radius: 8px;
  color: white;
  outline-color: orange;
  /* max-width: 350px; */
}
#orderbg form select {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 94, 255, 0.62);
  border-radius: 8px;
  color: white;
  outline-color: orange;
  background: rgba(0, 0, 0, 0.2) url("../img/down-chevron.png") 92% center/12px
    no-repeat !important;
  /* background: url("../img/down-chevron.png") 97% center no-repeat !important; */
  background-size: 20px;
  appearance: none;
}
#orderbg form #amount {
  background: rgba(0, 0, 0, 0.2) url("../img/naira.png") 20px center/18px
    no-repeat !important;
  padding-left: 50px;
}
#orderbg form button {
  background-color: orange;
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
  width: 100%;
}
